div {
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;

}

img {
    width: 100%;
    height: 100%;


}

label {
    text-decoration: none;
    font-family:Arial;
    color:Black;
    font-weight: bold;
    font-style: italic;
    font-size:22px;
}

div:hover p{
    display: block;
}

p {
    display: none;
    background: silver;
    padding:20px
}

#charts{
    width: 60%;
    height:auto;
    border: 2px solid lightslategrey;
}

#maps{
    border: 2px solid lightslategrey;
}

#tabs {
    border: 2px solid lightslategrey;
}

a {
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    color:Black;
    font-weight: bold;
    font-size:18px;
}

#header{
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    color:darkred;
    font-weight: bold;
}

